:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  &.vanilla:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.product-list-container {
  background-color: #fff;
}

.product-list-wrapper {
  margin: 0 auto;
  max-width: 42rem;
  padding: 4rem 1rem;

  @media screen and (min-width: 640px) {
    padding: 6rem 1.5rem;
    max-width: 55rem;
  }

  @media screen and (min-width: 1024px) {
    padding-left: 2rem; /* block and inline padding */
    padding-right: 2rem;
    max-width: 80rem;
  }
}

.product-list-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #111827;
  margin-bottom: 1.5rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.5rem 1.5rem;
  padding: 0;
  margin: 0;
  list-style: none;

  @media screen and (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-item {
  position: relative;
  list-style: none;

  &:hover .product-image {
    opacity: 0.75;
    filter: blur(1px);
    /*transition: filter .5s;*/
  }
}

.product-item-link {
  text-decoration: none;
  display: block;
}

.product-image-wrapper {
  position: relative;
}

.product-image {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 0.375rem;
  object-fit: cover;
  background-color: #e5e7eb;
  transition: opacity 0.3s;
}

.product-details {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.product-info {
  flex: 1;
}

.product-name {
  font-size: 0.875rem;
  color: #374151;
  margin: 0;
  font-weight: 400;
}

.product-description {
  font-size: 0.875rem;
  color: #6b7280;
  margin-top: 0.25rem;
}

.product-price {
  font-size: 0.875rem;
  color: #111827;
  margin-top: 0.25rem;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e5e7eb;
  background-color: #fff;
  padding: 0.75rem 1rem;

  @media screen and (min-width: 640px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.pagination-mobile {
  display: flex;
  flex: 1;
  justify-content: space-between;

  .pagination-mobile-button {
    display: inline-flex;
    position: relative;
    align-items: center;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db;
    background-color: #fff;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #374151;
    text-decoration: none;
    transition: background-color 0.2s;

    &:hover {
      background-color: #f9fafb;
    }

    &:last-child {
      margin-left: 0.75rem;
    }
  }

  @media screen and (min-width: 640px) {
    display: none;
  }
}

.pagination-desktop {
  display: none;
  flex: 1;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 640px) {
    display: flex;
  }

  .paignation-info {
    font-size: 0.875rem;
    color: #374151;
  }

  .pagination-info-number {
    font-weight: 500;
  }

  .pagination-nav {
    display: inline-flex;
    align-items: stretch;
    border-radius: 0.375rem;

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  }

  .pagination-button {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: #111827;
    text-decoration: none;
    border: 1px solid #d1d5db;
    min-width: 2.5rem;
    box-sizing: border-box;
    background-color: #fff;
    transition: background-color 0.2s;
    height: 100%;

    &:first-child {
      border-left: 1px solid #d1d5db;
    }

    &:hover {
      background-color: #f9fafb;
    }

    &:focus-visible {
      outline-offset: 0;
      z-index: 20;
    }

    &.pagination-button-active {
      background-color: #4746e5;
      border-color: #4746e5;
      color: #fff;
      z-index: 10;
      font-weight: 600;
      
      &:hover {
        background-color: #4338ca;
      }
      
      &:focus-visible {
        outline: 2px solid #4746e5;
        outline-offset: 2px;
      }
    }
  }

  .pagination-arrow {
    padding: 0.5rem;
    color: #9ca3af;
    min-width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.prev-button {
      border-top-left-radius: 0.375rem;
      border-bottom-left-radius: 0.375rem;
    }

    &.next-button {
      border-top-right-radius: 0.375rem;
      border-bottom-right-radius: 0.375rem;
    }
    
    &:disabled {
      opacity: .5;
      cursor: not-allowed;
      pointer-events: none;
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }

    .sr-only {
      display: none;
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border-width: 0;
      white-space: nowrap;
    }
  }
  
  .pagination-elipisis {
    position: relative;
    display: inline-flex;
    align-items: stretch;
    justify-content: center;
    padding: .8rem;
    border: 1px solid #d1d5db;
    font-size: 1rem;
    padding-top: .68rem;
    font-weight: 600;
    margin-top: -1px;
    color: #374151;
    box-sizing: border-box;
    min-height: 2.5rem;
    border-left: none;
    background-color: #fff;
    height: 100%
  }
  
  .pagination-hidden-md {
    display: none;
    
    @media screen and (min-width: 860px) {
      display: inline-flex;
    }
  }
  
}
